<!DOCTYPE html>
<html>
<head>
  <title>Homework 3 - Rails Demo</title>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<h1 class="main"><span>Ruby Demo</span></h1>
	<div class="wrapper">
		<%= yield %>
	</div>
	<div class="bottom">
		<%= link_to 'Add To-Do Item', new_to_do_item_path, :class => "add sub"  %>
	</div>
</div>
</body>
</html>
